@import url("https://fonts.googleapis.com/css2?family=Codystar&family=Press+Start+2P&family=Raleway+Dots&family=VT323&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: none;
}

body {
  text-align: center;
  color: #333431;
  min-height: 100vh;
  max-height: 100vh;
  border: solid 1px #7f9771;
  background-image: radial-gradient(circle, #c4d7b9, #c4d7b9, #7f9771);
}

h3 {
  font-family: "VT323", monospace;
  font-size: 1.5em;
}

.game__container {
  margin: 5vh auto;
  max-width: 60vw;
  padding: 20px;
}

.game {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.game__title {
  font-family: "Press Start 2P", cursive;
  font-size: 3em;
}
.game__subtitle {
  font-family: "VT323", monospace;
  font-size: 2.5em;
}

.scores {
  border: solid 1px #333431;
  border-radius: 15px;
  max-width: 50vw;
  min-width: 50vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 15px;
}
.scores__container {
  max-width: 80%;
  min-width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
}
.scores__title {
  font-family: "Press Start 2P", cursive;
  font-size: 1.25em;
}
.scores__ship-container {
  min-width: 150px;
  min-height: 60px;
}
.scores__ship {
  font-size: 1.8em;
}

.ships {
  border: solid 1px #333431;
  border-radius: 15px;
  padding: 15px;
  max-width: 50vw;
  min-width: 50vw;
  margin: 0 auto;
  display: grid;
  gap: 24px 0px;
  grid-template: ". . mothership . ." "defence-ship-1 . defence-ship-2 . defence-ship-3" ". defence-ship-4 . defence-ship-5 ." "attack-ship-1 . attack-ship-2 . attack-ship-3" ". attack-ship-4 . attack-ship-5 ." "attack-ship-6 . attack-ship-7 . attack-ship-8";
}
.ships__container--1 {
  grid-area: mothership;
}
.ships__container--2 {
  grid-area: defence-ship-1;
}
.ships__container--3 {
  grid-area: defence-ship-2;
}
.ships__container--4 {
  grid-area: defence-ship-3;
}
.ships__container--5 {
  grid-area: defence-ship-4;
}
.ships__container--6 {
  grid-area: defence-ship-5;
}
.ships__container--7 {
  grid-area: attack-ship-1;
}
.ships__container--8 {
  grid-area: attack-ship-2;
}
.ships__container--9 {
  grid-area: attack-ship-3;
}
.ships__container--10 {
  grid-area: attack-ship-4;
}
.ships__container--11 {
  grid-area: attack-ship-5;
}
.ships__container--12 {
  grid-area: attack-ship-6;
}
.ships__container--13 {
  grid-area: attack-ship-7;
}
.ships__container--14 {
  grid-area: attack-ship-8;
}
.ships [class*=container] {
  min-width: 150px;
  min-height: 30px;
}

.ship__mothership {
  font-size: 2em;
}

.ship__defence-ship {
  font-size: 1.8em;
}

.game-over {
  min-width: 90%;
  min-height: 90%;
  border: 1px solid red;
}
.game-over__title {
  font-family: "Press Start 2P", cursive;
  font-size: 3em;
}

button {
  background-color: #333431;
  color: #c4d7b9;
  min-height: 40px;
  max-height: 40px;
  min-width: 150px;
  max-width: 150px;
  margin: 0 auto;
  cursor: crosshair;
  border: none;
  border-radius: 10px;
  font-family: "Press Start 2P", cursive;
  font-size: large;
}

button:active {
  background-color: #c4d7b9;
  color: #333431;
  border: solid 2px #333431;
}

.hidden {
  display: none;
  position: fixed;
}

.sunk {
  color: #c4d7b9;
}

/*# sourceMappingURL=main.css.map */
