@import url("https://fonts.googleapis.com/css2?family=Codystar&family=Press+Start+2P&family=Raleway+Dots&family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: none;
}

html {
  min-height: 100%;
}

body {
  max-width: 100%;
  min-height: 100%;
  text-align: center;
  color: #333431;
  background-image: radial-gradient(
    circle,
    #c4d7b9,
    #c4d7b9,
    #c4d7b9,
    #c4d7b9,
    #7f9771
  );
}

h3 {
  font-family: "VT323", monospace;
  font-size: 1.5em;
}

footer {
  min-height: 10vh;
}

.game__container {
  min-height: 100%;
  max-width: 90%;
  margin: 5vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  max-width: 60vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  &__title {
    font-family: "Press Start 2P", cursive;
    font-size: 2em;
    text-align: center;
  }

  &__subtitle {
    font-family: "VT323", monospace;
    font-size: 2em;
  }
}

.scores {
  border: solid 1px #333431;
  border-radius: 15px;
  max-width: 50vw;
  min-width: 50vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 15px;

  &__container {
    max-width: 80%;
    min-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
  }

  &__title {
    font-family: "Press Start 2P", cursive;
    font-size: 1.25em;
  }

  &__ship-container {
    min-width: 150px;
    min-height: 60px;
  }

  &__ship {
    font-size: 1.4em;
  }
}

.ships {
  border: solid 1px #333431;
  border-radius: 15px;
  padding: 15px;
  max-width: 50vw;
  min-width: 50vw;
  margin: 0 auto;
  display: grid;
  gap: 24px 0px;
  grid-template:
    "mothership"
    "defence-ship-1"
    "defence-ship-2"
    "defence-ship-3"
    "defence-ship-4"
    "defence-ship-5"
    "attack-ship-1"
    "attack-ship-2"
    "attack-ship-3"
    "attack-ship-4"
    "attack-ship-5"
    "attack-ship-6"
    "attack-ship-7"
    "attack-ship-8";

  &__container--1 {
    grid-area: mothership;
  }

  &__container--2 {
    grid-area: defence-ship-1;
  }

  &__container--3 {
    grid-area: defence-ship-2;
  }

  &__container--4 {
    grid-area: defence-ship-3;
  }

  &__container--5 {
    grid-area: defence-ship-4;
  }

  &__container--6 {
    grid-area: defence-ship-5;
  }

  &__container--7 {
    grid-area: attack-ship-1;
  }

  &__container--8 {
    grid-area: attack-ship-2;
  }

  &__container--9 {
    grid-area: attack-ship-3;
  }

  &__container--10 {
    grid-area: attack-ship-4;
  }

  &__container--11 {
    grid-area: attack-ship-5;
  }

  &__container--12 {
    grid-area: attack-ship-6;
  }

  &__container--13 {
    grid-area: attack-ship-7;
  }

  &__container--14 {
    grid-area: attack-ship-8;
  }

  [class*="container"] {
    min-width: 150px;
    min-height: 30px;
  }
}

.ship__mothership {
  font-size: 2em;
}

.ship__defence-ship {
  font-size: 1.8em;
}

@keyframes hit {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  25% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  50% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  75% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  100% {
    transform: translate(1px, 1px) rotate(0deg);
  }
}

.animated {
  text-decoration: line-through;
  animation-name: hit;
  animation-duration: 0.25s;
}

.game-over {
  min-width: 40%;
  min-height: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  align-items: center;
  justify-content: center;
  margin: 30vh;

  &__title {
    font-family: "Press Start 2P", cursive;
    font-size: 3em;
  }
}

button {
  background-color: #333431;
  color: #c4d7b9;
  min-height: 40px;
  max-height: 40px;
  min-width: 150px;
  max-width: 150px;
  margin: 0 auto;
  cursor: crosshair;
  border: none;
  border-radius: 10px;
  font-family: "Press Start 2P", cursive;
  font-size: large;
}

button:active {
  background-color: #c4d7b9;
  color: #333431;
  border: solid 2px #333431;
}

.hidden {
  display: none;
  position: fixed;
}

.sunk {
  color: #c4d7b9;
}

@media screen and (min-width: 576px) {
  footer {
    max-height: 0;
    min-height: 0vh;
  }
  .ships {
    grid-template:
      "mothership mothership"
      "defence-ship-1 defence-ship-2"
      "defence-ship-3 defence-ship-4"
      "defence-ship-5 defence-ship-5"
      "attack-ship-1 attack-ship-2"
      "attack-ship-3 attack-ship-4"
      "attack-ship-5 attack-ship-6"
      "attack-ship-7 attack-ship-8";
  }
}

@media screen and (min-width: 992px) {
  body {
    max-width: 100%;
    min-height: 100%;
    text-align: center;
    color: #333431;
    background-image: radial-gradient(circle, #c4d7b9, #c4d7b9, #7f9771);
  }

  .game__container {
    min-height: 100vh;
    max-width: 100vw;
    margin: 0;
  }

  .scores__container {
    flex-direction: row;
  }

  .game__title {
    font-family: "Press Start 2P", cursive;
    font-size: 2.6em;
  }

  .game__subtitle {
    font-family: "VT323", monospace;
    font-size: 2.2em;
  }

  .ships {
    grid-template:
      ". mothership ."
      "defence-ship-1 . defence-ship-2"
      ". defence-ship-3 ."
      "defence-ship-4 . defence-ship-5"
      ". attack-ship-1 ."
      "attack-ship-2 . attack-ship-3"
      ". attack-ship-4 ."
      "attack-ship-5 attack-ship-6 attack-ship-7"
      ". attack-ship-8 .";
  }
}

@media screen and (min-width: 1500px) {
  .ships {
    grid-template:
      ". . mothership . ."
      "defence-ship-1 . defence-ship-2 . defence-ship-3"
      ". defence-ship-4 . defence-ship-5 ."
      "attack-ship-1 . attack-ship-2 . attack-ship-3"
      ". attack-ship-4 . attack-ship-5 ."
      "attack-ship-6 . attack-ship-7 . attack-ship-8";
  }

  h3,
  .scores__ship {
    font-size: 1.5em;
  }

  .game__title {
    font-family: "Press Start 2P", cursive;
    font-size: 3em;
  }

  .game__subtitle {
    font-family: "VT323", monospace;
    font-size: 2.5em;
  }
}
